<%- include("templates/header") %>
<% if (!req.session.authenticated) { %>
    <h1>Welcome</h1>
    <button class="btn btn-primary rounded-pill px-3" type="button" onclick="window.location.href='/login'">Login</button>
    <button class="btn btn-info rounded-pill px-3" type="button" onclick="window.location.href='/signup'">Signup</button>
<% } else { %>
    <h1>Welcome</h1>
    <p>Hello, <%= req.session.username %>!</p>
    <button class="btn btn-primary rounded-pill px-3" type="button" onclick="window.location.href='/members'">Go to Members Area</button>
    <button class="btn btn-info rounded-pill px-3" type="button" onclick="window.location.href='/logout'">Logout</button>
<% } %>
<%- include("templates/footer") %> 