<%- include("templates/header") %>

    <% if (!req.session.authenticated) { %>
        <% redirect('/login'); %>
    <% } %>

    <h1>Members only</h1>
    <h2>Hello, <%= username %></h2>
    <img src="<%= imageURL %>" alt="random image">
    <button onclick="window.location.href='/logout'">Logout</button>

<%- include("templates/footer") %>
